body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

h2 {
    text-align: center;
}

img {
    vertical-align:middle;
}

li {
    list-style: none;
}

.navbar {
    display:flex;
    font-size:none;
    overflow: hidden;
    top:0;
    width:100%;
    position: fixed;
    /* background-color: antiquewhite; */
}

.navbar :first-child{
    color: antiquewhite;
    background-color:black;
    font-size:30px;
    padding-top:20px;
}

.navbar :last-child{
    border-width: 0px 3px 3px 0px;
}

.nav {
    border: 0px solid black;
    border-width: 0px 0px 3px 0px;
    font-size:20px;
    color:black;
    background-color: antiquewhite;
    text-decoration:none;
    margin:0px;
    padding:20px;
    padding-top:25px;
    box-sizing: border-box;
}

.nav:hover{
    background-color:black;
    color:antiquewhite;
}

.nav:visited{
    text-decoration: none;
}

.list-box{
    background-color: rgba(255, 255, 255, 0.7);
    margin:10px 25px;
    padding:30px;
    overflow:hidden;
    border-radius:10px;
    /* background-image:url("../musicbg.jpg");
    background-position: 100px 200px;
    background-repeat: no-repeat; */
}

#l1 {
    float:left;
    width:33.3%;
    padding:10px;
}

.aoty li:nth-child(odd) {
    background: beige;
    border-radius: 10px;
}

#l2 {
    float:left;
    width:33.3%;
    padding:10px;
}

.playlist thead {
    background: beige;
}

.playlist tr:nth-child(even) {
    background: beige;
}



.playlist img{
    border-radius:10%;
}

.playlist thead{
    height:40px;
}

#l3 {
    float:left;
    width:33.3%
}

.suggest {
    float:right;
    position:fixed;
    background-color: black;
    color:azure;
    height:20px;
    width:60px;
    text-align:center;
    padding:10px;
    border-radius:50%;
    bottom:40px;
    text-decoration: none;
}